.baslık{
    color: aqua;
    padding: 0 10px;
    margin: 100;
    
}
.alt-baslık{
    color: aquamarine;
    padding: 0 35px;
}

.para{
    padding: 0 10px;
    text-decoration: solid;
}